.navbar {
    border-bottom: 2px solid lightgray;
    padding: 0 !important;
}

.nav-item {
    padding: 20px;
    margin: 0 !important;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.nav-link {
    padding-top: 20px;
    text-align: center;
    color: rgb(66, 75, 84) !important;
}

.nav-link:hover {
    color: rgb(1, 167, 225) !important;
}

.active {
    transform: skew(20deg);
    color: white !important;
  }

.active:hover {
    color: white !important;
  }


.trapezoid {
    width: 150px;
    height: 100px;
    transform: skew(-20deg);
    background: rgb(1, 167, 225);
}

img {
    padding: 10px;
}

@media (max-width : 420px) {
    .trapezoid {
        width: 100%;
        height: 50px;
        padding: 5px;
        padding-left: 10px;
    }  
}
