<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <img
        src="assets/img/leaselabs_logo_fullstack_rgb.png"
        class="img-fluid"
        alt="leaselabs_logo_fullstack_rgb"
      />
      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li *ngFor="let item of headerItems; let i = index" 
              [class.trapezoid]="selectedIndex === i"
              class="nav-item"
              (click)="changeClass(i)">
            <a [class.active]="selectedIndex === i" class="nav-link">{{ item }}</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>