.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0 !important;
    border-bottom: 6px solid rgb(220, 223, 228);
}

.content-border {
  border-left: 2px solid rgb(203, 207, 212);
  border-right: 2px solid rgb(203, 207, 212);
  border-bottom: 2px solid rgb(203, 207, 212);
  margin-right: 20px;
}

h1 {
    color: rgb(1, 167, 225) !important;
    font-weight: 650;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

h2 {
    padding-top: 0 !important;
    margin-top: 0 !important;
    padding-left: 30px !important;
}

blockquote {
    color: rgb(56, 65, 76) !important;
}

.cropped {
    width: 250px;
    height: 270px;
    object-fit: cover;
    border: 2px solid rgb(1, 167, 225);
    object-position: 50% 25%;
}


.mask-overlay {
  position: relative;
  width: relative;
  height: relative;
}

.overlay {
  position: absolute; 
  top: 0;
  bottom: 0;
  background: rgb(1, 167, 225);
  background: rgba(1, 167, 225, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 20%;
  z-index: 9999;
  cursor: pointer;
}

.mask-overlay:hover .overlay {
  opacity: 1;
}

@media (max-width : 420px) {
  .content-border {
    margin-right: 0;
    margin-left: 10px;
  }

  .cropped {
      object-position: 50% 50%;
  }
}


