<div class="content-border">
    <div class="flex-shrink-0 content">
        <div class="row">
            <h1>HEADING 1</h1>
            <h2>
                <small><em class="text-muted">heading 2</em></small>
            </h2>
        </div>
        <br>
        <div class="row">
            <blockquote class="blockquote">
                <p><small>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur mi in lectus sollicitudin, ac molestie arcu rutrum. 
                    Mauris dapibus urna ante, a accumsan elit pharetra sit amet. Suspendisse ipsum est, bibendum vel neque a, mollis condimentum quam. 
                    Ut pretium ac mauris faucibus aliquet. Praesent scelerisque pellentesque commodo. 
                </small></p>
                
                <p><small>
                    Nam neque ante, imperdiet eu blandit sit amet, varius sit amet erat. 
                    Nullam consequat orci at enim vulputate porttitor. Duis sit amet diam augue. 
                    Aliquam fringilla nunc mauris, at tempor nulla iaculis in. Curabitur eget pulvinar dolor, id ullamcorper erat. 
                    Praesent commodo. 
                </small></p>
                    
                <p><small>
                    Nulla est ligula, efficitur quis nulla quis, convallis lobortis sapien. Sed eget tristique nibh. 
                    Nunc tristique dui nec tellus mollis, at aliquet libero viverra. Maecenas quis enim in arcu porta pulvinar id id diam. 
                    Curabitur in commodo elit, nec tempor odio. Fusce maximus nisl at nulla interdum, quis pellentesque justo finibus. 
                    Nunc nisi dui, dignissim at risus ac, posuere molestie leo.
                </small></p>
            </blockquote>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="mask-overlay">
                    <img src="assets/img/man.jpg" alt="Avatar" class="w-100 cropped">
                    <div class="overlay">
                        <h3>TITLE</h3>
                        <p class="lead">Description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mask-overlay">
                    <img src="assets/img/wizard.jpg" alt="Avatar" class="w-100 cropped">
                    <div class="overlay">
                        <h3>TITLE</h3>
                        <p class="lead">Description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mask-overlay">
                    <img src="assets/img/beast.jpg" alt="Avatar" class="w-100 cropped">
                    <div class="overlay">
                        <h3>TITLE</h3>
                        <p class="lead">Description</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

