<div class="container">
    <div class="flex-shrink-0 p-3 bg-white content-border">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <div class="d-grid gap-2">
                    <span class="bubble">SUBNAV</span>
                </div>
                <div class="collapse show">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark"><strong>•</strong>Link 1</a></li>
                        <li><a href="#" class="link-dark"><strong>•</strong>Link 2</a></li>
                        <li><a href="#" class="link-dark"><strong>•</strong>Link 3</a></li>
                    </ul>
                </div>
            </li>
            <br>
            <li class="mb-1">
                <div class="d-grid gap-2">
                    <span class="bubble">RELATED LINKS</span>
                </div>
                <div class="collapse show">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark"><strong>•</strong>Link 1</a></li>
                        <li><a href="#" class="link-dark"><strong>•</strong>Link 2</a></li>
                        <li><a href="#" class="link-dark"><strong>•</strong>Link 3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>